<hmtl>
    <h1>Penelitian Penyakit</h1>

    <h2>Paragraf 1</h2>
<p>Hasil Penelitian Mengungkapkan Bahwa Tingginya <b>Koelstrol</b> Merupakan Faktor Risiko
        Yang Paling Besar Menyebabkan Seseorang Terserang Penyakit Jantung Hampir <i>80%
        Penderita Jantung Koroner Di Eropa</i> Disebabkan Kadar Kolestrol Dalam Tubuh Yang Tinggi
    </p>

    <h2>Paragraf 2</h2>
<p>Bahkan <b>Di Amerika Hampir 90% Penderita Jantung Koroner
    Disebabkan Oleh Penderita Makan Makanan Yang Berkadar
    Kolestrol Tinggi</b>. Begitu Juga Di Asia Sebagian Besar
    Penderita Jantung Koroner Disebabkan Oleh Pola Makan
    Yang Banyak Mengandung Kolestrol
    </p>


</hmtl>